{#{% extends 'base.html.twig' %}#}

{#{% block title %}New Commande{% endblock %}#}

{#{% block body %}#}
{#    <h1>Create new Commande</h1>#}

{#    {{ include('commande/_form.html.twig') }}#}

{#    <a href="{{ path('app_commande_index') }}">back to list</a>#}
{#    <script>#}
{#        // Attendre que le document soit prêt#}
{#        $(document).ready(function() {#}
{#            // Initialiser Select2 sur le champ de formulaire avec la classe "select2"#}
{#            $('.select2').select2();#}
{#        });#}
{#    </script>#}
{#{% endblock %}#}


{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nouvelle Commande</h1>

    {{ form_start(form) }}
    <h2>Produits</h2>
    <div id="tailleCommandesContainer">
        {{ form_errors(form.tailleCommandes) }}
        {% for tailleCommandeForm in form.tailleCommandes %}
            <div class="tailleCommandeForm">
                {{ form_row(tailleCommandeForm.produit, {'label': 'Produit', 'attr': {'class': 'select2'}}) }}
                {{ form_row(tailleCommandeForm.quantite, {'label': 'Quantité'}) }}
            </div>
        {% endfor %}
    </div>

    <button type="button" id="addProductBtn" data-prototype="{{ form_row(form.tailleCommandes.vars.prototype)|e('html_attr') }}">Ajouter un produit</button>

    <h2>TVA</h2>
    {{ form_row(form.TVA) }}

    <button type="submit">Créer</button>
    {{ form_end(form) }}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var addProductButton = document.getElementById('addProductBtn');
            var tailleCommandesContainer = document.getElementById('tailleCommandesContainer');
            var index = tailleCommandesContainer.querySelectorAll('.tailleCommandeForm').length;

            addProductButton.addEventListener('click', function () {
                var prototype = addProductButton.getAttribute('data-prototype');
                var newForm = prototype.replace(/__name__/g, index);
                var newFormContainer = document.createElement('div');
                newFormContainer.classList.add('tailleCommandeForm');
                newFormContainer.innerHTML = newForm;
                tailleCommandesContainer.appendChild(newFormContainer);
                index++;

                // Sélectionnez le champ de formulaire 'produit' dans le formulaire nouvellement ajouté
                var newProduitField = newFormContainer.querySelector('.select2');
                // Initialisez Select2 sur le champ de formulaire 'produit'
                $(newProduitField).select2();
            });

            // Initialisez Select2 sur les champs de formulaire 'produit' existants
            var existingProduitFields = document.querySelectorAll('.select2');
            existingProduitFields.forEach(function (field) {
                $(field).select2();
            });
        });
    </script>
{% endblock %}

