{% extends 'base.html.twig' %}

{% block title %}Achat index{% endblock %}

{% block body %}
    <h1>Achat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Num_achat</th>
                <th>TVA %</th>
                <th>Mantant_TVA €</th>
                <th>Total €</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for achat in achats %}
            <tr>
                <td>{{ achat.id }}</td>
                <td>{{ achat.numAchat }}</td>
                <td>{{ achat.TVA }} %</td>
                <td>{{ achat.mantantTVA }} €</td>
                <td>{{ achat.total }} €</td>
                <td>{{ achat.date ? achat.date|date('d-m-Y à H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_achat_show', {'id': achat.id}) }}">show</a>
                    <a href="{{ path('app_achat_edit', {'id': achat.id}) }}">edit</a>
                    <a href="{{ path('app_achat_rapport_download', {'id': achat.id}) }}">down</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_achat_new') }}">Create new</a>
{% endblock %}
