{% extends 'base.html.twig' %}

{% block title %}New Stock{% endblock %}

{% block body %}
    <h1>Create new Stock</h1>

    {{ include('stock/_form.html.twig') }}
{#    {{ form_start(form) }}#}
{#    {{ form_row(form.produit_id) }}#}
{#    {{ form_row(form.quantite) }}#}
{#    {{ form_row(form.fournisseur_id) }}#}
{#    <button type="submit" class="btn btn-primary">Créer</button>#}
{#    {{ form_end(form) }}#}

    <a href="{{ path('app_stock_index') }}">back to list</a>
{% endblock %}
